:root {
  --animation-duration: 500ms;
  --to-open-spoiler-hint-left: '[+]';
  --to-open-spoiler-hint-right: '(show)';
  --to-fold-spoiler-hint-left: '[-]';
  --to-fold-spoiler-hint-right: '(fold)';
}

.fancy-spoiler {
  border: 1px solid #000;
  transition: height 1s ease;

  &.fancy-rollback>.fancy-spoiler-content {
    transition: all var(--animation-duration) ease;
    font-size: 0;
    opacity: 0;
  }

  &:not([open])>.fancy-spoiler-closed-summary:before,
  &[open]>.fancy-spoiler-opened-label:before {
    width: 25px;
    margin-right: 5px;
  }

  &[open]>.fancy-spoiler-content {
    @keyframes growAndFadeInFontSize {
      0% {
        font-size: 0;
        opacity: 0;
      }

      100% {
        font-size: 1em;
        opacity: 1;
      }
    }

    animation-name: growAndFadeInFontSize;
    animation-duration: var(--animation-duration);
  }

  &:not([open])>.fancy-spoiler-closed-summary:before {
    content: var(--to-open-spoiler-hint-left);
    width: 15px;
  }

  &[open]>.fancy-spoiler-opened-label:before {
    content: var(--to-fold-spoiler-hint-left);
    width: 15px;
  }

  &:not([open])>.fancy-spoiler-closed-summary:after,
  &[open]>.fancy-spoiler-opened-label:after {
    padding-left: 5px;
  }

  &:not([open])>.fancy-spoiler-closed-summary:after {
    content: var(--to-open-spoiler-hint-right);
  }

  &[open]>.fancy-spoiler-opened-label:after {
    content: var(--to-fold-spoiler-hint-right);
  }

  .fancy-spoiler-closed-summary {
    background-color: #ddd;
  }

  .fancy-spoiler-opened-label {
    background-color: #eee;
  }
}
