.fancy-spoiler,
.fancy-spoiler-opened-label {
  display: block;
}

.fancy-spoiler > .fancy-spoiler-closed-summary,
.fancy-spoiler > .fancy-spoiler-opened-label {
  cursor: pointer;
}

.fancy-spoiler > .fancy-spoiler-closed-summary {
  list-style-type: none; /* for Firefox */

  outline-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.fancy-spoiler > .fancy-spoiler-closed-summary::-webkit-details-marker, /* for most of Webkit browsers */
.fancy-spoiler[open] > .fancy-spoiler-closed-summary {
  display: none;
}

.fancy-spoiler > summary:before,
.fancy-spoiler > .fancy-spoiler-closed-summary:after {
  content: '';
  display: inline-block;
}
